@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.header .gnb ul::after {
  content: "";
  display: block;
  clear: both;
}

.header .gnb ul {
  list-style: none;
  padding-left: 0;
}

.header .gnb a {
  display: block;
  vertical-align: top;
  text-decoration: none;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

ul, dl, h1, h2, h3, dd {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.hidden {
  position: absolute;
  left: -9999em;
}

.wrapper {
  width: 480px;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 440px;
  margin: 0 auto;
  position: relative;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

[class*="-col-"] {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.grid::before {
  background: linear-gradient(to right, transparent 10px, rgba(60, 190, 60, 0.2) 10px, rgba(60, 190, 60, 0.2) 100px, transparent 100px), linear-gradient(to bottom, transparent 23px, rgba(0, 0, 0, 0.3) 23px);
  background-size: 110px 1px, 1px 24px;
  position: absolute;
  content: '';
  top: 0;
  left: 20px;
  width: 440px;
  height: 100%;
  z-index: 1000;
}

.sm-col-1 {
  width: 90px;
}

.sm-col-2 {
  width: 200px;
}

.sm-col-3 {
  width: 310px;
}

.sm-col-4 {
  width: 420px;
}

.sm-push-1 {
  margin-left: 120px;
}

.sm-push-2 {
  margin-left: 230px;
}

.sm-push-3 {
  margin-left: 340px;
}

.sm-push-4 {
  margin-left: 450px;
}

.logo {
  color: #f3987b;
  font-size: 24px;
}
.logo i {
  font-size: 36px;
}

.header {
  background: #4d4b4a;
  padding-left: 30px;
  padding-right: 30px;
  height: 96px;
}
.header .logo {
  padding-top: 28px;
  float: left;
}
.header .gnb {
  background: url(images/icon-menu.png) no-repeat;
  width: 31px;
  height: 26px;
  float: right;
  margin-top: 34px;
  margin-right: 10px;
}
.header .gnb li {
  display: none;
}

.intro {
  background: #f8d2c5;
  height: 288px;
  position: relative;
}

.intro-video {
  background: url(images/img-video.png) center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.intro-btn-prev, .intro-btn-next {
  position: absolute;
  top: 100px;
  width: 33px;
  height: 106px;
  text-indent: 33px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

.intro-btn-prev {
  left: 30px;
  background: url(images/icon-arrow-left.png);
}

.intro-btn-next {
  right: 30px;
  background: url(images/icon-arrow-right.png);
}

@media screen and (min-width: 760px) {
  .wrapper {
    width: 760px;
    margin: 0 auto;
    position: relative;
  }

  .container {
    width: 720px;
    margin: 0 auto;
    position: relative;
  }

  [class*="-col-"] {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .grid::before {
    background: linear-gradient(to right, transparent 10px, rgba(190, 60, 60, 0.2) 10px, rgba(190, 60, 60, 0.2) 80px, transparent 80px), linear-gradient(to bottom, transparent 23px, rgba(0, 0, 0, 0.3) 23px);
    background-size: 90px 1px, 1px 24px;
    position: absolute;
    content: '';
    top: 0;
    left: 20px;
    width: 720px;
    height: 100%;
    z-index: 1000;
  }

  .md-col-1 {
    width: 70px;
  }

  .md-col-2 {
    width: 160px;
  }

  .md-col-3 {
    width: 250px;
  }

  .md-col-4 {
    width: 340px;
  }

  .md-col-5 {
    width: 430px;
  }

  .md-col-6 {
    width: 520px;
  }

  .md-col-7 {
    width: 610px;
  }

  .md-col-8 {
    width: 700px;
  }

  .md-push-1 {
    margin-left: 100px;
  }

  .md-push-2 {
    margin-left: 190px;
  }

  .md-push-3 {
    margin-left: 280px;
  }

  .md-push-4 {
    margin-left: 370px;
  }

  .md-push-5 {
    margin-left: 460px;
  }

  .md-push-6 {
    margin-left: 550px;
  }

  .md-push-7 {
    margin-left: 640px;
  }

  .md-push-8 {
    margin-left: 730px;
  }

  .header {
    background: #4d4b4a;
    padding-left: 30px;
    padding-right: 30px;
    height: 96px;
  }
  .header .logo {
    padding-top: 28px;
    float: left;
  }
  .header .gnb {
    background: url(images/icon-menu.png) no-repeat;
    width: 31px;
    height: 26px;
    float: right;
    margin-top: 34px;
    margin-right: 10px;
  }
  .header .gnb li {
    display: none;
  }
}
.book {
  height: 528px;
  text-align: center;
}

.book-heading {
  padding: 28px 10px 6px 10px;
  font-size: 25px;
}
.book-heading::before, .book-heading::after {
  content: "";
  display: block;
  margin-top: 19px;
  width: 65px;
  height: 1px;
  background: black;
}
.book-heading::before {
  float: left;
}
.book-heading::after {
  float: right;
}

.book-item {
  padding-top: 24px;
  position: relative;
  text-align: left;
}

.book-title {
  margin-top: 235px;
  margin-left: 20px;
  font-size: 20px;
}

.book-img {
  position: absolute;
  top: 24px;
}

.book-brief {
  display: none;
}
.book-brief .intro {
  background: #f8d2c5;
  height: 408px;
  position: relative;
}
.book-brief .intro-video {
  background: url(images/img-video.png) center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.book-brief .intro-btn-prev, .book-brief .intro-btn-next {
  position: absolute;
  top: 136px;
  width: 33px;
  height: 106px;
  text-indent: 33px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}
.book-brief .intro-btn-prev {
  left: 30px;
  background: url(images/icon-arrow-left.png);
}
.book-brief .intro-btn-next {
  right: 30px;
  background: url(images/icon-arrow-right.png);
}
.book-brief .book {
  height: 528px;
  text-align: center;
}
.book-brief .book-heading {
  padding: 52px 10px 6px 10px;
  font-size: 25px;
}
.book-brief .book-heading::before, .book-brief .book-heading::after {
  content: "";
  display: block;
  margin-top: 19px;
  width: 160px;
  height: 1px;
  background: black;
}
.book-brief .book-heading::before {
  float: left;
}
.book-brief .book-heading::after {
  float: right;
}
.book-brief .book-item {
  padding-top: 24px;
  position: relative;
  text-align: left;
}
.book-brief .book-title {
  margin-top: 235px;
  font-size: 20px;
}
.book-brief .book-img {
  position: absolute;
  top: 24px;
}
.book-brief .book-brief {
  height: 96px;
  overflow: hidden;
  word-wrap: break-word;
  padding-right: 20px;
}

@media screen and (min-width: 960px) {
  .wrapper {
    width: 1300px;
    margin: 0 auto;
    position: relative;
  }

  .container {
    width: 960px;
    margin: 0 auto;
    position: relative;
  }

  [class*="-col-"] {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
  }

  .grid::before {
    background: linear-gradient(to right, transparent 10px, rgba(60, 60, 190, 0.2) 10px, rgba(60, 60, 190, 0.2) 70px, transparent 70px), linear-gradient(to bottom, transparent 23px, rgba(0, 0, 0, 0.3) 23px);
    background-size: 80px 1px, 1px 24px;
    position: absolute;
    content: '';
    top: 0;
    left: 170px;
    width: 960px;
    height: 100%;
    z-index: 1000;
  }

  .lg-col-1 {
    width: 60px;
  }

  .lg-col-2 {
    width: 140px;
  }

  .lg-col-3 {
    width: 220px;
  }

  .lg-col-4 {
    width: 300px;
  }

  .lg-col-5 {
    width: 380px;
  }

  .lg-col-6 {
    width: 460px;
  }

  .lg-col-7 {
    width: 540px;
  }

  .lg-col-8 {
    width: 620px;
  }

  .lg-col-9 {
    width: 700px;
  }

  .lg-col-10 {
    width: 780px;
  }

  .lg-col-11 {
    width: 860px;
  }

  .lg-col-12 {
    width: 940px;
  }

  .lg-push-1 {
    margin-left: 90px;
  }

  .lg-push-2 {
    margin-left: 170px;
  }

  .lg-push-3 {
    margin-left: 250px;
  }

  .lg-push-4 {
    margin-left: 330px;
  }

  .lg-push-5 {
    margin-left: 410px;
  }

  .lg-push-6 {
    margin-left: 490px;
  }

  .lg-push-7 {
    margin-left: 570px;
  }

  .lg-push-8 {
    margin-left: 650px;
  }

  .lg-push-9 {
    margin-left: 730px;
  }

  .lg-push-10 {
    margin-left: 810px;
  }

  .lg-push-11 {
    margin-left: 890px;
  }

  .lg-push-12 {
    margin-left: 970px;
  }

  .header {
    background: #4d4b4a;
    padding-left: 180px;
    padding-right: 180px;
    height: 120px;
  }
  .header .logo {
    padding-top: 37px;
    float: left;
  }
  .header .gnb {
    padding-top: 47px;
    float: right;
  }
  .header .gnb li {
    float: left;
  }
  .header .gnb li a {
    padding: 0 32px;
    color: white;
    letter-spacing: 1.6px;
  }
  .header .gnb li a.gnb-about {
    color: #f3987b;
  }

  .intro {
    background: #f8d2c5;
    height: 408px;
    position: relative;
  }

  .intro-video {
    background: url(images/img-video.png);
    width: 100%;
    height: 100%;
  }

  .intro-btn-prev, .intro-btn-next {
    position: absolute;
    top: 136px;
    width: 33px;
    height: 106px;
    text-indent: 33px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
  }

  .intro-btn-prev {
    left: 190px;
    background: url(images/icon-arrow-left.png);
  }

  .intro-btn-next {
    right: 190px;
    background: url(images/icon-arrow-right.png);
  }

  .book {
    height: 528px;
    text-align: center;
  }

  .book-heading {
    padding: 52px 10px 0 10px;
    font-size: 25px;
  }
  .book-heading::before, .book-heading::after {
    content: "";
    display: block;
    margin-top: 19px;
    width: 320px;
    height: 1px;
    background: black;
  }
  .book-heading::before {
    float: left;
  }
  .book-heading::after {
    float: right;
  }

  .book-item {
    padding-top: 30px;
    position: relative;
    text-align: left;
  }

  .book-title {
    margin-top: 238px;
    font-size: 20px;
  }

  .book-img {
    position: absolute;
    top: 30px;
  }

  .book-brief {
    height: 96px;
    overflow: hidden;
    word-wrap: break-word;
    padding-right: 20px;
  }
}

/*# sourceMappingURL=grid.css.map */
